#package manager modules
node_modules/
bower_components/

#dotfiles
.editorconfig

#metadeta
package-lock.json

#testing workspace
test-workspace/

#code coverage 
.nyc_output
coverage

#depricated
_depricated